.gradle
.gradle-local/
build/
out/

.idea/
*.iml

.DS_Store

.env
*.env
*.log

docker-data/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
